---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
  "bootstrap",
  "selectize",
  "soulheart"
;

body {
  padding-bottom: 200px;
}

// .example-data-block {
//   max-height: 400px;
// }

.panel .panel-default {
  min-height: 10em;
}

.img-emoji, .img-donger {
  height: 20pt;
  line-height: 20pt;
}

.opt-emoji {
  padding-right: 6pt;
}

.emoji-type {
  font-size: 80%;
  font-style: italic;
  // margin-left: 14pt;
  display: inline-block;
  float: right;
  line-height: 20pt;
}