# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

gem 

test/db/*.rdb

dump.rdb
tmp/

.rvmrc
.ruby-*
.tool-versions

_site
.sass-cache

# Ignore benchmarking
spec/benchmarks/*.html