language: ruby
rvm:
- 2.1.0
bundler_args: "--without=guard"
notifications:
  disabled: true
before_install:
  - gem install bundler
  - gem update bundler
script:
- bundle exec rake spec
services:
  - redis
rvm:
  - 2.3
  - 2.7
  - jruby
  - jruby-head
matrix:
  allow_failures:
    - rvm: jruby-head
addons:
  code_climate:
    repo_token: e72d8fa152922cef05c311cd49d3db9016b82486b712399a8e7c7da2af5e071e
branches:
  except:
    - gh-pages