<nav id="header" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-pages" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Soulheart</span>
    </div>
      

    <div class="collapse navbar-collapse" id="navbar-pages">
      <ul class="nav navbar-nav">
        <li{% if page.url == '/index.html' %} class="active"{% endif %}>
          <a href="{{ '/' | prepend: site.baseurl }}">Demos</a>
        </li>
        {% for cpage in site.pages %}
          {% if cpage.title %}
            <li{% if page.url == cpage.url %} class="active"{% endif %}>
              <a href="{{ cpage.url | prepend: site.baseurl }}">{{ cpage.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <p class="navbar-text navbar-right">
        <a class="navbar-link" href="https://github.com/sethherr/soulheart">
          on GitHub
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</nav>