#header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 1000;
  background: $gray-lighter;
  padding: 0;
  @include transition(transform 200ms linear);
  &.headroom--pinned { @include translate(0, 0%); }
  &.headroom--unpinned { @include translate(0, -100%); }
  border-bottom: 1px solid rgba(black, .2);
}

body { padding-top: 30px; }

.padded-row { padding-top: 30px; padding-bottom: 30px; }

.step-by-step-basic {
  li {
    padding-bottom: 20px;
  }
}

.form-group {
  position: relative;
  label small {
    font-weight: normal;
  }
  .form-control { width: 100%; }
}

.highlight {
  padding: 9px 14px;
  margin-top: -16px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 0 0 4px 4px;
  &.code-highlight {
    background-color: #fff;
  }
}


// Just directly overridding because lame
body pre.prettyprint {
  padding: 9.5px;
  border-color: #ccc;
  a { text-decoration: underline; } // and underline links so they stand out 
}

.code-toggle {
  .hiding-code { display: block; }
  .showing-code { display: none; }
  &.is-showing-code {
    .hiding-code { display: none; }
    .showing-code { display: block; }
  }
}

// #tabs ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }

// #tabs li {
//   display: inline;
//   border: solid;
//   border-width: 1px 1px 0 1px;
//   margin: 0 0.5em 0 0;
// }

// #tabs li a {
//   padding: 0 1em;
// }

// .tab-content {
//   border-top: 1px solid black;
// }

// #tab #active {
//   padding-bottom: 1px;
//   background: white;
// }